* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ************************************************************************* */
/* ******************************ROBE GENERALI****************************** */
/* ************************************************************************* */

body {
  font-family: 'Rubik', sans-serif;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

main {
  height: calc(100vh - 80px);  /* 80 è barrafixed*/
  background-color: #e3f2fd;
}

/* ************************************************************************* */
/* ******************************NAVBAR FISSA TOP****************************** */
/* ************************************************************************* */
.navbarTop{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(226, 241, 252, 0.5);
}


.navbarTop h1 {
  color: #1b3c59;
  font-size: 30px;
}

/* ************************************************************************* */
/* ******************************SEZIONE INPUT****************************** */
/* ************************************************************************* */
#inputValore{
  text-align: center;
  margin-top: 80px;
}

/* gestione degli input presi dall'utente */
.inputUtente{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-left: 15%;
}

.inputUtente div{
  margin-top: 40px;
  margin-bottom: 10px;
}

.inputUtente p{
  font-size: 19px;
}

/* gestisco le caratteristiche dei campi input */
.inputUtente input{
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px rgba(27, 60, 89, 0.25) solid;
  font-size: 19px;
  background-color: white;
}

/* gestisco l'aspetto dei bottoni */
.bottoniFunzionali button {
    padding: 10px 85px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    border: none;
    background-color: #61ce4e;
    margin: 10px;
    outline: none;
}

/* ************************************************************************* */
/* ***************************  SEZIONE CALCOLO PREZZO ********************* */
/* ************************************************************************* */
#vincitore {
  display: none;
  text-align: center;
}

#vincitore h1 {
  color: #1b3c59;
  margin-bottom: 5px;
}

.containerVincitore{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
/* questa classe crea l'illusione di un treno */
.contieniRisultatoVincitore{
  background-color: #1b3c59;
  border-top: 6px rgba(0, 0, 0, 0.15) solid;
  border-bottom: 6px rgba(0, 0, 0, 0.3) solid;
  border-left: 6px #61ce4e solid;
  border-right: 6px #61ce4e solid;
  border-radius: 50px;
  height: 118px;
  width: 640px;
}


.contieniRisultatoVincitore span{
  display: inline-block; /*così posso dare margin agli span*/
  color: white;
  font-size: 21px;
  margin-top: 17px;
}
